{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    

    {{ govukNotificationBanner({
  html: 'This version of the prototype is being actively worked on - some things might not work correctly and/or change very quickly.'
}) }}

<span class="govuk-caption-xl">Version 1</span>

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>



  <h2 class="govuk-heading-m" id="testing">Useful links</h2>

      <ul class="govuk-list govuk-!-margin-bottom-9">
        <li><a class="govuk-link govuk-link--no-visited-state" href="test-scenario">Testing instructions</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1730123413781/b8221a4f44aa2e7b0268597ac647a3de57ed7d0f">Screen flow (Mural)</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="../design-history">Interaction design history </a></li>
        </ul>



  <h2 class="govuk-heading-m" id="testing">Initial screens</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link govuk-link--no-visited-state" href="gov-one-login/gov-one-login-email">Gov One Login- email</a></li>
       <li><a class="govuk-link govuk-link--no-visited-state" href="gov-one-login/gov-one-login-enter-code">Gov One Login- enter code</a></li>
       <li><a class="govuk-link govuk-link--no-visited-state" href="gov-one-login/gov-one-login-not-eligible">Gov One Login- not eligible</a></li>
       <li><a class="govuk-link govuk-link--no-visited-state" href="gov-one-login/gov-one-login-password">Gov One Login- password</a></li>
       <li><a class="govuk-link govuk-link--no-visited-state" href="gov-one-login/gov-one-login">Gov One Login</a></li>
        </ul>

    
  </div>
</div>

{% endblock %}
