{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="/add-person-1" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Filing for: AAA ACQUISITIONS LIMITED (06473324)</span>
<h1 class="govuk-heading-l">Allocate shares to John Smith</h1>
        

<form method="post" action="/shareholder-summary-1">

{% from "govuk/components/select/macro.njk" import govukSelect %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}


{{ govukRadios({
  name: "share-class",
  fieldset: {
    legend: {
      text: "Select share class",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Ordinary A",
      text: "Ordinary A"
    },
    {
      value: "Ordinary B",
      text: "Ordinary B"
    }

  ]
}) }}

{{ govukInput({
  label: {
    text: "Number of shares"
  },
  classes: "govuk-input--width-5",
  id: "number-of-shares",
  name: "number-of-shares"
}) }}
{{ govukButton({
  text: "Add another shareclass",
  classes: "govuk-button--secondary",
  href: ""
}) }}

     </div>
    </div>
    {{ govukButton({
  text: "Continue"
}) }}
</form>

  </main>
</div>




{% endblock %}
