
{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
  
{% endblock %}



{% block content %}
<a href="/start-shareholders" class="govuk-back-link">Back</a>
<span class="govuk-caption-m">Filing for: AAA ACQUISITIONS LIMITED (06473324)</span>
<h1 class="govuk-heading-l">Provide a full list of current shareholders</h1>

<p class="govuk-body-l">Tell us about all people and companies that held shares on 15 December 2024, and how many they held on this date.

</p>
<p class="govuk-body"><strong>Why can't I see shareholders from previous filings?</strong></p>
<p>We're updating our records to improve the accuracy of the Companies House register. You will not see any shareholder information from previous filings in this confirmation statement.</p>
<p>You need to provide information about all current shareholders yourself.</p>
{% endblock %}
