{% extends "layouts/main.html" %}



{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/form-handler" method="post" novalidate>

        {{ govukRadios({
          name: "whereDoYouLive",
          fieldset: {
            legend: {
              text: "What would you like to add first?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "add a person as a shareholder",
              text: "Add a person as a shareholder"
            },
            {
              value: "add a corporate shareholder",
              text: "Add a corporate shareholder"
            },
         
            {
              value: "create a joint shareholding",
              text: "Create a joint shareholding"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

      
{% endblock %}
